<h1>Twój task</h1>

<p><b><%= @task.title %></b></p>
<p><%= @task.description %></p>
<p><%= @task.created_at.strftime("Wprowadzono: %H:%M:%S, %m.%d.%Y") %> </p>
<% if @task.created_at != @task.updated_at %>
<p><%= @task.updated_at.strftime("Zmieniono: %H:%M:%S, %m.%d.%Y") %> </p>
<% end %>
<% unless @task.priority == nil %>
<p style="color: <%= @task.priority.color %>"><%= @task.priority.name %></p>
<% end %>
<% form_for :task,
            :url => { :controller => :tasks,
                      :action => :destroy
                    } do |task_form| %>

<%= hidden_field :task, :id %>
<%= submit_tag "Usuń taska" %>
<% end %>
<%= link_to "Powrót", :controller => "tasks", :action => "index" %> | 
<%= link_to "Nowy task", :controller => "tasks", :action => "new" %>
